body {
    background-image: url("http://localhost:8080/FromZerotoExpert/imgs/2.jpg");
    background-repeat: no-repeat;
    background-size:100%;

}
#register{
    width: 300px;
    height: 300px;
    border-radius: 6px;
    box-shadow: 0px 0px 7px #cdcdcd;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: rgba(225, 225, 225, 0.6);/* Green background with 30% opacity */
    text-align:center;
}
#welcome{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

form label {
    font-size: 15px;
    display: inline-block;
    min-width: 45px;/*或者 width: 100px;*/
    margin-right: 5px;
}
form input{
    border-radius: 6px;
    border-color: #cdcdcd;
    background-color: rgba(255,255,255,0.3);
    width:180px;
    height:30px;
    /*outline-style: outset;*/
    /*outline-color: #ccccd6;*/
}
#submit {
    height: 40px;
    font-size: 15px;
    background: rgba(225, 225, 225, 0.8);
    margin-top: 30px;
    width: 260px;
    /*margin: 0 auto;*/
}
form {
    line-height: 3;
}
